:root {
    --secondary-color: 	#252936;
    --primary-color: #1a1c37;
    --cta: #46c855;
    --cta-hover: #3aa847;
    --text-color: #000;
    --text-color-light: #fff;
    --background: #eef2f6
}
html {
    height: 100%;
}

/* Header Styles */



.site-header{

    background-color:var(--secondary-color);
    padding: 0.5rem 0;
}

.site-header__link{
    color: var(--text-color-light);
    text-decoration: none;
}


.site-header__link:hover,
.site-header__link:focus{
    color: var(--cta);


}
/* CTA Button Styles */
.cta-btn{
    background-color: var(--cta);
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-color: var(--secondary-color);
    transition:
        background-color 0.15s ease,
        color 0.15s ease,
        transform 0.15s ease;
}

.cta-btn:hover,
.cta-btn:focus{
    background-color: var(--cta-hover);
    color: var(--text-color);
    transform: translateX(-0.25rem) translateY(-0.25rem);
}
/* Navbar Styles */
.site-nav{
    background-color: var(--primary-color);
    border-top: 1px solid #2c2e47;

}

.site-nav__link{
    color: var(--text-color-light);
    font-size: 1.2rem;
}

.site-nav__link:hover,
.site-nav__link:focus{
    color: var(--cta);
}

.site-nav .nav-link.active{
    color: var(--cta);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.04rem;
}


.site-nav__brand{
    color: var(--cta);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0.04rem;

}

.site-nav__icon{
    font-size: 2rem;
    line-height: 1;
}

/* Footer Styles */
.site-footer{
    background-color: var(--primary-color);
    color: var(--text-color-light);
    font-size: 0.9rem;
    padding: 1rem 0;
}

.site-footer__link{
    text-decoration: none;
    margin: 0 0.4rem;
    color: var(--cta);
    transition: all 0.15s ease, transform 0.15s ease;
}
.site-footer__link:hover,
.site-footer__link:focus{
    color: var(--cta-hover);
    transform:translateY(-1px);
}