@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --secondary-color: 	#4b556f;
    --primary-color: #1a1c37;
    --cta: #46c855;
    --cta-hover: #3aa847;
    --cta-secondary: #4b556f;
    --cta-secondary-hover: #3a4155;
    --text-color: #000;
    --text-color-light: #fff;
    --background: #eef2f6;

    --font-body: 'Inter', sans-serif;
    --font-heading: 'Oswald', sans-serif;
}
html {
    height: 100%;

}

body{
    font-family: var(--font-body);
    background-color: var(--background);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-heading);
    font-weight: 800;
    letter-spacing: 0.04rem;
}

main{
    margin-top: 20px;
}

/* Header Styles */

.site-header{

    background-color:var(--secondary-color);
    padding: 0.5rem 0;
}

.site-header__link{
    color: var(--text-color-light);
    text-decoration: none;
}

.site-header__link:hover,
.site-header__link:focus{
    color: var(--cta);
    background-color: var(--secondary-color);

}

.site-header__dropdown-menu{

    background-color: var(--secondary-color);
    font-family: var(--font-heading);
    & p{
        color: var(--text-color-light);
        padding: 0.5rem 1rem;

    }

}

.site-header__icon{
    color: var(--text-color-light);
}

.site-header__tag{
    color: var(--text-color-light);
    font-size: 0.8rem;
    font-family: var(--font-heading);
}

/* Search Form Styles */
.site-header__search-select{
    font-family: var(--font-heading);
    font-size: 0.9rem;
    color: var(--text-color);

    &:focus{
        outline: none;
        box-shadow: none;
    }
}

.site-header__search-input{
    border: none;
    color: var(--secondary-color);
}

.site-header__search-btn:hover{
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

/* CTA Button Styles */
.cta-btn{
    background-color: var(--cta);
    color: var(--text-color-light);
    font-family: var(--font-heading);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    transition:
        background-color 0.15s ease,
        color 0.15s ease,
        transform 0.15s ease;
}

.cta-btn:hover,
.cta-btn:focus{
    background-color: var(--cta-hover);
    color: var(--text-color-light);
    transform: translateX(-0.25rem) translateY(-0.25rem);
}

.cta-btn-secondary{
    background-color: var(--cta-secondary);
    color: var(--text-color-light);
    font-family: var(--font-heading);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    transition:
        background-color 0.15s ease,
        color 0.15s ease,
        transform 0.15s ease;
}

.cta-btn-secondary:hover,
.cta-btn-secondary:focus{
    background-color: var(--cta-secondary-hover);
    color: var(--text-color-light);
    transform: translateX(-0.25rem) translateY(-0.25rem);
}

/* Navbar Styles */
.site-nav{
    background-color: var(--primary-color);
    border-top: 1px solid #2c2e47;
}

.site-nav__link{
    color: var(--text-color-light);
    font-size: 1.2rem;
    font-family: var(--font-heading);
}

.site-nav__link:hover,
.site-nav__link:focus{
    color: var(--cta);
}

.site-nav .nav-link.active{
    color: var(--cta);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.04rem;
}

.site-nav__brand{
    color: var(--cta);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0.04rem;
    font-family: var(--font-heading);

}

.site-nav__icon{
    font-size: 2rem;
    line-height: 1;
}

/* Footer Styles */
.site-footer{
    background-color: var(--primary-color);
    color: var(--text-color-light);
    font-size: 0.9rem;
    padding: 1rem 0;
}

.site-footer__link{
    text-decoration: none;
    margin: 0 0.4rem;
    color: var(--cta);
    transition:
        background-color 0.15s ease,
        color 0.15s ease,
        transform 0.15s ease;
}
.site-footer__link:hover,
.site-footer__link:focus{
    color: var(--cta-hover);
    transform:translateY(-1px);
}

/* Form Styles */
.form-max-width{
    max-width: 600px;
}

.form-label {
    color: var(--secondary-color);
    font-weight: 500;
      letter-spacing: 0.04rem;
      font-family: var(--font-heading);
  }

.form-control {
    background-color: var(--text-color-light);
    border-color: #cfd6e3;
    color: var(--secondary-color);

    &:focus {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      border-color: var(--primary-color);
    }
  }

.content__wrapper{
    background-color: var(--text-color-light);
    border: 1px solid  #d1d9e2;
    color: var(--primary-color);
    height: 100%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(26, 28, 55, 0.06);
}

/* all auth forms */
/* Hide help text on sign up form */
#id_password1_helptext{
    display: none;
}

/* Media Queries */
/*Media query to pad in content blocks on smaller screens*/
@media (max-width: 768px) {
    .container{
        max-width: 90%;
    }

    /*remove form labels on smaller screens*/
    .content__wrapper label:not([for="id_remember"]) {
        display: none;
    }
}

@media (min-width: 769px) {

    /*hide form placeholder text on larger screens*/
    .content__wrapper input::placeholder,
    .content__wrapper textarea::placeholder{
        color: transparent;
    }

}