.order-history__table{
    --bs-table-bg: transparent;
    --bs-table-color: var(--primary-color);
    --bs-table-striped-bg: #e9edf4;
    --bs-table-striped-color: var(--primary-color);
}

.order-history__receipt-link{
        color: var(--cta) ;
    background-color: transparent;
    border: 0;
    border-radius: 999px;
    padding: 0.2rem 0.4rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25;

    &:hover{
    color: var(--cta-hover);
    background-color: var(--background);
    }
}


