<footer class="site-footer py-3">
    <div class="container">
        <div class="row site-footer__content align-items-center">
            <div class="col-12 col-md-6 site-footer__copyright text-center text-md-start mb-2">
                &copy; {% now "Y" %} IronForge Athletics. All rights reserved.
            </div>
            <div class="col-12 col-md-6 site-footer__links d-flex justify-content-between g-2">
                <a class="site-footer__link"
                   href="https://instagram.com/"
                   target="_blank"
                   rel="noopener">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
                <a class="site-footer__link"
                   href="https://facebook.com/"
                   target="_blank"
                   rel="noopener">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                </a>
                <a class="site-footer__link"
                   href="https://twitter.com/"
                   target="_blank"
                   rel="noopener">
                    <i class="fa-brands fa-x-twitter fa-xl"></i>
                </a>
                <a class="site-footer__link"
                   href="https://tiktok.com/"
                   target="_blank"
                   rel="noopener">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                <a class="site-footer__link"
                   href="https://youtube.com/"
                   target="_blank"
                   rel="noopener">
                    <i class="fa-brands fa-youtube fa-xl"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
