 <nav class="navbar navbar-expand-lg navbar-dark site-nav py-2 mt-2" aria-label="Primary navigation bar" role="navigation">
        <div class="container-fluid pe-5">
         <a class="navbar-brand " href="{% url 'home:home' %}">
             <i class="fa-solid fa-dumbbell logo-icon" aria-hidden="true"></i>
             <span>IronForge Athletics</span>
         </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#main-navbar"
                aria-controls="main-navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                       href="{% url 'home:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Our Gym</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-wrap" href="">Community</a>
                </li>
            </ul>

        </div>
