{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="content__wrapper row d-flex justify-content-center form-max-width mx-auto mb-3">
            <div class="col-12 col-lg-9">
                <hr>
                <h2 class="mb-4">{% trans "Change Password" %}</h2>
                <hr>
                <form method="post"
                      action="{% url 'account_change_password' %}"
                      class="password-change">
                    {% csrf_token %}
                    <div class="d-flex flex-row justify-content-center gap-2 mt-4">
                        <a class="cta-btn-secondary btn" href="{% url 'account_login' %}">Back to Login</a>
                        <button class="btn cta-btn" type="submit">{% trans "Change Password" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
