.shop__tab {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    font-family: var(--font-heading);
    padding: 0.6rem 0.8rem;
    white-space: nowrap;

    &.active {
        background-color: var(--primary-color) !important;
        color: var(--text-color-light);
        font-family: var(--font-heading);
    }
    &:hover,&:focus{
        background-color: var(--primary-color);
        color: var(--text-color-light);
    }
}

.shop__card{
    width: 18rem;
}

.shop__card-action{
    background-color: var(--cta);
    color: var(--text-color-light);
    font-family: var(--font-body);
    font-size: 0.9rem;

}

.cart__form-input{
    width:10rem;
}

.product__image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.product-detail__link{
    color: var(--text-color-light);
    text-decoration: none;

}
.product-detail__category-link {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        color: var(--secondary-color);
    }
}

/* customise Bootstrap tooltip data-bs-custom-class */
.tooltip-grey{
    --bs-tooltip-bg: var(--secondary-color);
    --bs-tooltip-color: var(--text-color-light);
}