{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}
{% block content %}
    <div class="content__wrapper container py-5">
        <div class="py-5">
            <h1 class="h3 mb-1">Confirm your Order</h1>
            <p class="text-muted mb-0">Please confirm details</p>
        </div>
        <div class="row g-4">
            <div class="col-12 col-md-6">
                <form id="confirm-order__form"
                      action="{% url 'shop:confirm_order' %}"
                      method="post"
                      class="form-max-width">
                    {{ form }}
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-12 col-md-6">
                <table class="table table-sm table-hover align-middle order__table">
                    <thead class="order__table-head">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.total_price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="mt-2">
                    <strong>Total:</strong> ${{ cart.get_total_price }}
                </div>

            <div class="mt-auto d-flex flex-column align-items-center gap-2">
                <button type="submit"
                        form="confirm-order__form"
                        class="btn w-100 mt-3 cta-btn buy-btn">Buy</button>
                <small class="text-muted">powered by <i class="fa-brands fa-stripe"></i></small>
            </div>
            </div>
        </div>
    </div>

{% endblock %}
