

/*Our Gym Styles*/

.class__image img{
    height:200px;
    width: 100%;
    object-fit: cover;

}

.class__wrapper{
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1.2rem;
}

.class__title{
    color: var(--cta);
    text-transform: uppercase;
}

/*Contact Us Styles*/

.contact__title{
    color: var(--primary-color);
}

.contact__subtitle{
    color: var(--secondary-color);
    font-weight: 600;

}

.contact__link{
    color: var(--secondary-color);
    text-decoration: none;
}

.contact__link:hover{
    color: var(--primary-color);
}

.contact__icon{
    color: var(--cta);
}



